# Core libraries
streamlit
pandas
numpy
matplotlib
plotly
pillow
beautifulsoup4
requests

# Finance libraries
yfinance
pandas-datareader

# Machine Learning libraries
scikit-learn
tensorflow-cpu

# Additional dependencies
lxml  # Required by pandas_datareader for parsing HTML tables
